.grid-stack {
    background: lightgoldenrodyellow;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}

.grid-stack-item-content > * {
  width: 95%;
  height: 95%;
  margin-top: 2.5%;
}
